html
  head
    block title
    link(rel="stylesheet" href="/public/reset.css")
    link(rel="stylesheet" href="/public/style.css")
  
  body
    main
      section(class="content")
        block content

        block footer