main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 500px;
  border: 2px solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.content > * {
  padding: 2%;
}

li.blog-entry {
  display: flex;
  justify-content: space-between;
}

li.blog-entry p.title {
  width: 60%;
}

li.blog-entry p.date {
  width: 40%;
  text-align: right;
}

p.date {
  color: gray;
}
