main {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 500px;
  border: 2px solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.content > * {
  padding: 2%;
}

section.header {
  display: flex;
  flex-flow: row;
}

h1.title {
  width: 75%;
  font-size: 1.5em;
}

p.admin-new {
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
  text-align: right;
}

p.admin-new a {
  font-weight: bold;
  text-decoration: none;
}

ul {
  width: 100%;
}

li.blog-entry {
  display: flex;
  justify-content: space-between;
}

li.blog-entry p.title {
  width: 60%;
}

li.blog-entry p.date {
  width: 40%;
  text-align: right;
}

p.date, p.edit a, .delete input, p.admin-new a {
  color: gray;
}

p.edit {
  text-align: right;
  width: 20%;
}

p.edit a {
  text-decoration: none;
}

.delete input[type="submit"] {
  background: none;
  border: none; 
  padding: 0;
  margin: 0;
  text-align: right;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  margin-top: 1%;
  margin-bottom: 1%;
}